/* *{
    border: solid red 1px;
} */

body{
    font-family: 'allerta', sans-serif;
    margin: 0;
    color: #515151;
}

a{
    color: #515151;
}

header{
    background: white;
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.header-right{
    height: inherit;
    display: flex;
    align-items: center;
}

.header-right .button{
    margin-left: 10px;
}

.button{    
    background: gray;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .3);
    /* border-bottom: 5px solid black; */
    font-size: 14px;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: .2s;
}

.button:active{
    transform: scale(.9);
}

.button.red{
    background: #e47004;
    border-color: #e47004;
}


.button.blue{
    background: #0d75bb;
    border-color: #0d75bb;
}


nav{
    height: inherit;
    margin: 0;
}

nav ul{
    margin: 0;
    height: inherit;
    
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    /* margin: 0 10px; */
    color: black;
    height: inherit;
    display: flex;
    align-items: center;
}

nav li:after{
    content: "|";
    display: inline-block;
    /* margin: 0 10px; */
}

nav li:last-child:after{
    display: none;
}

nav a{
    color: black;
    text-decoration: none;
    height: inherit;
    display: flex;
    padding: 0 10px;
    align-items: center;
}


nav a:hover{
    box-shadow: inset 0 5px 0 #e47004 !important;
    /* box-shadow: inset 10px 10px 30px orange; */
}

nav a.is-active{
    box-shadow: inset 0 5px 0 #00a3cf;
}


h1{
    margin: 0;
    font-weight: 600;
    margin-bottom: 15px;
}



.blog{
    width: 1000px;
    margin: 0 auto;
}

.portada{
    position: relative;
    margin-bottom: 100px;
}

.portada .description{
    background: rgba(255,255,255,0.8);
    opacity: .5;
    position: absolute;
    bottom: 30px;
    left: 20px;
    padding: 20px;
}

.titulo span{
    text-decoration: underline;
}

.blog-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-items h3{
    font-weight: 600;
    margin: 10px 0 15px;
}

.item-blog{
    width: 300px;
    height: 375px;
    padding-bottom: 50px;
}

.item-blog .description{
    margin-bottom: 15px;
}


.paginador{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.paginador ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px ;
}

.paginador li{
    background: #eaeaea;
    height: 40px;
    line-height: 40px;
    border: 1px solid gray;
    margin: 0 5px;
}

.paginador li.selected{
    border-color: transparent;
    background: white;
    margin: 0 15px;
}


.paginador a{
    padding: 0 10px;
    text-decoration: none;
    display: block;
    height: inherit;
}


.autor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    border-top: 1px solid gray;
    padding-top: 15px;
}

.autor img{
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.autor p{
    margin: 0;
}


footer{
    background:white;
    padding:10px 0;
    margin-top: 10px;
    text-align:center;
    color:black
}

.footer .love{
    color:red
}

.footer a{
    text-decoration:none;
    margin:0;
    color:black
}

footer a:active,.footer a:hover{color:#4b5664}




a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }


.contenedor{
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
}

.formulario{
    display: flex;
    width: 1000px;
    height: 460px;
    color: black;
    margin: 25px 0 0 200px;
}

/* Uso en crear post */
.Abutton .button{
    margin: 10px 0 0 650px;
}


.col3, .col4{
    display: flex;
    flex-direction: column;
}

.col3{
    margin-right: 25px;  
}

.col4{
    align-items: flex-start;
}




.fdatos{
    width: 1000px;
    height: 400px;
    color: black;
    margin: 150px 200px 0px 200p;
}


.contenedor2{
    margin: auto;
    position: relative;
}



/* Para Login y Register */
.section{
    display: flex;
    width: 400px;
    height: 200px;
    margin: 200px 0 0 500px;
}


/* Para account */
.imes{
    width: 500px;
}

.imes, .col5{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 20px 10px 0px 80px;
}

.daccount{
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
}

.dform{
    display: flex;
    width: 1000px;
    height: 460px;
    color: black;
    margin: 25px 0 0 200px;
}

.dinfo{
    display: flex;
    width: 400px;
    height: 200px;
    margin: 30px 0 0 500px;
    padding: 10px 50px 40px;
}

.Bbutton .button{
    margin: 10px 0 0 330px;
}





