{% extends "layout.html" %}
{% block content %}

<header>
    <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='profile_pics/logo.jpg') }}" alt="logo" height="40">
    </a>
    <div class="header-right">
        {% if current_user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('new_post') }}">New Post</a></li>
                <li><a href="#">Agenda</a></li>
                <li><a href="{{ url_for('home') }}">Blog</a></li>
                <li><a href="#">Info</a></li>
                <li><a class="is-active" href="{{ url_for('account') }}">Account</a></li>
            </ul>
        </nav>
            <a href="{{ url_for('logout') }}" class="button red">logout</a>
        {% else %}
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}" class="is-active">Home</a></li>
            </ul>
        </nav>
            <a href="{{ url_for('login') }}" class="button blue">Login / Register</a>
        {% endif %}
    </div>
</header>   



<div class="daccount">
    <section class="dform">

        <div class="imes">
            <img class="rounded-circle account-img" src="{{ image_file }} " alt="default" width="320" height="400">
        </div>
    
        <div class="col5">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.bio }}</p>
            <p class="text-secondary">{{ current_user.email }}</p>
            <p><a href="current_user.facebook">{{ current_user.facebook }}</a></p>
            <p><a href="current_user.twitter">{{ current_user.twitter }}</a></p>
        </div>
    </section>


</div>



<div class="dinfo">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.bio.label(class="form-control-label") }}
                {% if form.bio.errors %}
                    {{ form.bio(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.bio.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.bio(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.facebook.label(class="form-control-label") }}
                {% if form.facebook.errors %}
                    {{ form.facebook(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.facebook.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.facebook(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.twitter.label(class="form-control-label") }}
                {% if form.twitter.errors %}
                    {{ form.twitter(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.twitter.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.twitter(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}               
            </div>

        </fieldset>

        <div class="Bbutton">
            <input type="submit" value="Update Profile" class="button blue">
        </div>
        
    </form>
</div>

{% endblock content %}