{% extends "layout.html" %}
{% block content %}

<header>
    <a href="{{ url_for('main.home') }}">
        <img src="{{ url_for('static', filename='profile_pics/logo.jpg') }}" alt="logo" height="40">
    </a>
    <div class="header-right">
        {% if current_user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a href="{{ url_for('posts.new_post') }}">New Post</a></li>
                <li><a href="{{ url_for('users.agenda') }}">Agenda</a></li>
                <li><a href="{{ url_for('main.home') }}">Blog</a></li>
                <li><a href="#">Info</a></li>
                <li><a class="is-active" href="{{ url_for('users.account') }}">Account</a></li>
            </ul>
        </nav>
            <a href="{{ url_for('users.logout') }}" class="button red">logout</a>
        {% else %}
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home') }}" class="is-active">Home</a></li>
            </ul>
        </nav>
            <a href="{{ url_for('users.login') }}" class="button blue">Login / Register</a>
        {% endif %}
    </div>
</header>   



<div class="daccount">
    <section class="dform">

        <div class="imes">
            <img class="rounded-circle account-img" src="{{ image_file }} " alt="default" width="320" height="400">
        </div>
    
        <div class="col5">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.bio }}</p>
            <p class="text-secondary">{{ current_user.email }}</p>
            <p><a href="current_user.facebook">{{ current_user.facebook }}</a></p>
            <p><a href="current_user.twitter">{{ current_user.twitter }}</a></p>
        </div>
    </section>

</div>

<div class="contenedor3">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="formulario">
            <legend class="border-bottom">Account Info</legend>

            <div class="col6">
                {{ form.username.label(class="form-control-label") }}
                <br><br><br><br>
                {{ form.bio.label(class="form-control-label") }}
                <br>
                {{ form.email.label(class="form-control-label") }}
                <br>
                {{ form.facebook.label(class="form-control-label") }}
                <br>
                {{ form.twitter.label(class="form-control-label") }}
                <br>
                {{ form.picture.label() }}
            </div>

            <div class="col7">
                {{ form.username(class="form-control form-control-lg", style="width:650px;") }}
                <br>
                {{ form.bio(class="form-control form-control-lg", rows="5", style="width:650px;") }}
                <br>
                {{ form.email(class="form-control form-control-lg", style="width:650px;") }}
                <br>
                {{ form.facebook(class="form-control form-control-lg", style="width:650px;") }}
                <br>
                {{ form.twitter(class="form-control form-control-lg", style="width:650px;") }}
                <br>
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}               
            </div>

        </fieldset>

        <div class="Abutton">
            <input type="submit" value="Update Profile" class="button blue">
        </div>

    </form>
</div>



{% endblock content %}