{% extends "layout.html" %}
{% block content %}

<header>
    <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='profile_pics/logo.jpg') }}" alt="logo" height="40">
    </a>
    <div class="header-right">
        {% if current_user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}" >Home</a></li>
                <li><a class="is-active" href="{{ url_for('new_post') }}">New Post</a></li>
                <li><a href="#">Agenda</a></li>
                <li><a href="{{ url_for('home') }}">Blog</a></li>
                <li><a href="#">Info</a></li>
                <li><a href="{{ url_for('account') }}">Account</a></li>
            </ul>
        </nav>
            <a href="{{ url_for('logout') }}" class="button red">logout</a>
        {% else %}
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}" class="is-active">Home</a></li>
            </ul>
        </nav>
            <a href="{{ url_for('login') }}" class="button blue">Login / Register</a>
        {% endif %}
    </div>
</header>

<div class="contenedor">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="formulario">
            <legend class="border-bottom">{{ legend }}</legend>

            <div class="col3">
                {{ form.title.label(class="form-control-label") }}
                <br>
                {{ form.content.label(class="form-control-label") }}
            </div>

            <div class="col4">
                {{ form.title(class="form-control form-control-lg", style="width:850px;" ) }}
                <br>
                {{ form.content(class="form-control form-control-lg", rows="20", style="width:850px;") }}
            </div>

        </fieldset>

        <div class="Abutton">
            <input type="submit" value="Post" class="button blue">
        </div>

    </form>
</div>
{% endblock content %}