{% extends "layout.html" %}
{% block content %}

    <header>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='profile_pics/logo.jpg') }}" alt="logo" height="40">
        </a>
        <div class="header-right">
            {% if current_user.is_authenticated %}
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('new_post') }}">New Post</a></li>
                    <li><a href="#">Agenda</a></li>
                    <li><a class="is-active" href="{{ url_for('home') }}">Blog</a></li>
                    <li><a href="#">Info</a></li>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                </ul>
            </nav>
                <a href="{{ url_for('logout') }}" class="button red">logout</a>
            {% else %}
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}" class="is-active">Home</a></li>
                </ul>
            </nav>
                <a href="{{ url_for('login') }}" class="button blue">Login / Register</a>
            {% endif %}
        </div>
    </header>  


    <div class="formulario">

        <div class="col3">
            <img src="{{ url_for('static', filename='profile_pics/img6.jpg') }}" alt="img2" width="400" height="400">
        </div>


        <div class="description">
            <h3>{{ post.title }}</h3>
            <p class="article-content">{{ post.content }}</p>
            <div class="autor">
                <p>
                    <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" 
                    alt="default" width="35px" height="35px"><span>{{ post.author.username }}</span>
                </p>
                <span>{{ post.date_posted.strftime('%Y-%m-%d') }}</span>
            </div> 
            <nav>
                <ul>
                    <li><a href="{{ url_for('update_post', post_id=post.id) }}" class="button red">Update</a></li>
                    <li><form action="{{ url_for('delete_post', post_id=post.id)  }}" method=POST> <input class="button red" type="submit" value="Delete"></li>
                </ul>
            </nav>
        </div>                
    </div>

{% endblock content %}